.modal {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow-y: hidden;

  &__item {
    position: absolute;
    height: max-content;
    padding: 24px 40px 36px;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--logInBg);

    &__nav {
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;
    }

    &__link {
      font-weight: 300;
      font-size: 26px;
      line-height: 60px;
      color: var(--text);

      &--active {
        &::after {
          content: "";
          display: block;
          width: 200%;
          height: 1px;
          background: linear-gradient(90deg, rgba(200, 174, 142, 0) 16.22%, #C8AE8E 56.36%, rgba(200, 174, 142, 0) 100%);
          transform: translateX(-35%);
        }
      }
    }

    &__close {
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input {
    width: 100%;
    height: 48px;
    border: 0.3px solid var(--text);
    padding: 11px 20px;
    outline: none;

    &__wrapper {
      position: relative;
    }

    &__show-password {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
    }

    &__error {
      margin-top: 10px;
      display: flex;
      gap: 12px;
      align-items: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: var(--placeholder)
    }

    &--error {
      border: 0.3px solid red;
    }

  }

  &__button {
    width: 100%;
    height: 48px;
    background: var(--buttonBg);
  }

  &__forgot-password {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: var(--title);
    margin-right: auto;
  }
}